#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Remove all other default styles that might interfere with full-screen layout */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}